<html lang="en">
	<head>
		<title>Portfolio Yewon KANG</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="./function.js"></script>
		<link rel="stylesheet" href="assets/css/timeline.css"/>
		<link rel="icon" type="image/x-icon" href="./images/night.png">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

<div class="container">

    <div class="rightbox">
      <div class="rb-container">
        <ul class="rb">
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              3rd May 2020<br> 7:00 PM
            </div>
            <h5>Baekyoung High School 
                Baccalauréat économique</h5>
            <div class="item-title">Chris Serrano posted a photo on your wall.</div>
  
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              19th May 2020<br> 3:00 PM
            </div>
            <h5></h5>
            <div class="item-title">Mia Redwood commented on your last post.</div>
  
          </li>
  
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              17st June 2020<br> 7:00 PM
            </div>
            <h5></h5>
            <div class="item-title">Lucas McAlister just send you a message.</div>
  
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              17st June 2020<br> 7:00 PM
            </div>
            <h5></h5>
            <div class="item-title">Lucas McAlister just send you a message.</div>
  
          </li>
          <li class="rb-item" ng-repeat="itembx">
            <div class="timestamp">
              17st June 2020<br> 7:00 PM
            </div>
            <h5></h5>
            <div class="item-title">Lucas McAlister just send you a message.</div>
  
          </li>
  
        </ul>
  
      </div>
    </div>
  </div>
    </body>